{
  "arrowParens": "always",
  "bracketSameLine": false,
  "objectWrap": "preserve",
  "bracketSpacing": true,
  "semi": false,
  "experimentalOperatorPosition": "end",
  "experimentalTernaries": false,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "quoteProps": "as-needed",
  "trailingComma": "es5",
  "singleAttributePerLine": false,
  "htmlWhitespaceSensitivity": "strict",
  "vueIndentScriptAndStyle": false,
  "proseWrap": "preserve",
  "insertPragma": true,
  "requirePragma": false,
  "useTabs": false,
  "embeddedLanguageFormatting": "off",
  "tabWidth": 2,
  "printWidth": 120,
  "cursorOffset": -1
}